<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>sylvester</title>
    <link rel="stylesheet" href="../node_modules/normalize-css/normalize.css"/>
    <link rel="stylesheet" href="../node_modules/dat.gui/build/dat.gui.css"/>
    <link rel="stylesheet" href="../css/app.css"/>
  </head>
  <body>
    <div id="circle" hidden>{% include "../svg/circle.svg" %}</div>
    <div id="logo" hidden>{% include "../svg/logo.svg" %}</div>

    <svg class="stage" width="800" height="600"></svg>

    <script src="../node_modules/lodash/lodash.min.js"></script>
    <script src="../node_modules/jsnetworkx/jsnetworkx.js"></script>
    <script src="../node_modules/d3/build/d3.min.js"></script>
    <script src="../node_modules/d3-save-svg/build/d3-save-svg.min.js"></script>
    <script src="../node_modules/dat.gui/build/dat.gui.min.js"></script>
    <script src="../js/app.js"></script>
  </body>
</html>
